
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=" ~{'fragments/html_head' :: html_head}"></head>

<body>
<header th:replace="fragments/html_header :: html_header(${loginSuccessful})"> </header>


<div class ="container">
    <div class = "row">
        <h1>Food Carts</h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/cart/register}" class = "btn btn-primary btn-sm mb-3"> Add cart</a>
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="mb-4">Carts</h2>

        <div  th:each="cart : ${carts}" class="card mb-3">
            <div class="row g-0">
                <div class="col-lg-3">
                    <img th:src="@{'/img/fork.png'}" alt="" class="img-fluid rounded fs-2">
                </div>
                <div class="col-lg-9">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between border-bottom pb-2">
                            <span th:text="${cart.getid()}"></span>
                            <span class="text-primary" th:text="${cart.customer.fullName}"></span>


                        </h5>
                        <ul>
                            <li><small  th:each="item : ${cart.itemList}" th:text="${item.itemName}"></small></li>
                            <li> <small  th:each="item : ${cart.itemList}" th:text="${item.category.categoryName}"></small></li>
                        </ul>
                        <div class="mt-3">
                            <a th:href="@{/cart/item/{cartId}(cartId=${cart.getid()})}" class="btn btn-primary me-2">Add Item to Cart</a>
                            <a th:href="@{/cart/remove/{id}(id=${cart.getid()})}" class="btn btn-danger">Delete</a>
                            <a th:href="@{/order/createOrder/{cartId}(cartId=${cart.getid()})}" class="btn btn-info">Order</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace=" ~{'fragments/footer' :: html_footer}"></footer>
</body>
</html>
