<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=" ~{'fragments/html_head' :: html_head}"></head>

<body>
<header th:replace="fragments/html_header :: html_header(${loginSuccessful})"> </header>
<h1>update Order</h1>
<form th:action="@{/order/update}" th:object="${order}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <div>
        <label for="orderDate">Order Date:</label>
        <input type="date" id="orderDate" th:field="*{orderDate}" required>
    </div>
    <div>
        <label for="orderStatus">Order Status:</label>
        <select id="orderStatus" th:field="*{orderStatus}">
            <option value="PENDING">Pending</option>
            <option value="CONFIRMED">Confirmed</option>
            <option value="DELIVERED">Delivered</option>
        </select>
    </div>
    <button type="submit">Update Order</button>
</form>
<footer th:replace=" ~{'fragments/footer' :: html_footer}"></footer>
</body>
</html>
