<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=" ~{'fragments/html_head' :: html_head}"></head>

<body>
<header th:replace=" ~{'fragments/html_header' :: html_header}"></header>

<h2>Edit Item</h2>

<form th:action="@{/item/update}" th:object="${item}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label for="itemName">Item Name:</label>
    <input type="text" id="itemName" th:field="*{itemName}" required/>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" th:field="*{quantity}" required/>

    <label for="cost">Cost:</label>
    <input type="text" id="cost" th:field="*{cost}" required/>

    <label for="category">Category:</label>
    <select id="category" th:field="*{category}">
        <!-- Populate this dropdown with categories -->
        <option th:each="cat : ${categories}" th:value="${cat.getid()}" th:text="${cat.categoryName}"></option>
    </select>

    <button type="submit">Update</button>
</form>

<footer th:replace=" ~{'fragments/footer' :: html_footer}"></footer>
</body>
</html>
