<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=" ~{'fragments/html_head' :: html_head}"></head>

<body>
<header th:replace="fragments/html_header :: html_header(${loginSuccessful})"> </header>


<div class ="container">
    <div class = "row">
        <h1> List Orders </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/order/createOrder}" class = "btn btn-primary btn-sm mb-3"> Add Order</a>
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="mb-4">Orders</h2>

        <div th:each="order: ${orders}" class="card mb-3">
            <div class="row g-0">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between border-bottom pb-2">
                            <span th:text="${order.getid()}"></span>
                            <span th:text="${order.orderDate}"></span>

                        </h5>
                        <small class="fst-italic" th:text="${order.orderStatus}"></small>
                        <div class="mt-3">
                            <a th:href="@{/order/edit(orderId=${order.getid()})}" class="btn btn-primary me-2">Edit</a>
                            <a th:href="@{/order/remove/{orderId}(orderId=${order.getid()})}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace=" ~{'fragments/footer' :: html_footer}"></footer>
</body>
</html>
