=<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/html_head :: html_head"></head>

<body>
<header th:replace="fragments/html_header :: html_header(${loginSuccessful})"></header>

<div class="container mt-5">
    <h2 class="mb-4">Restaurant Details</h2>

    <div th:if="${restaurant != null}" class="card">
        <div class="card-body">
            <h5 class="card-title mb-4">Restaurant ID: <span th:text="${restaurant.getid()}"></span></h5>
            <p class="card-text"><strong>Restaurant Name:</strong> <span th:text="${restaurant.restaurantName}"></span></p>
            <p class="card-text"><strong>Manager Name:</strong> <span th:text="${restaurant.managerName}"></span></p>
            <p class="card-text"><strong>Contact Number:</strong> <span th:text="${restaurant.contactNumber}"></span></p>

            <!-- Address Details -->
            <h3 class="mt-4 mb-3">Address</h3>
            <p class="card-text"><strong>Street:</strong> <span th:text="${restaurant.address.area}"></span></p>
            <p class="card-text"><strong>City:</strong> <span th:text="${restaurant.address.city}"></span></p>
            <p class="card-text"><strong>State:</strong> <span th:text="${restaurant.address.state}"></span></p>
            <p class="card-text"><strong>Zip Code:</strong> <span th:text="${restaurant.address.pincode}"></span></p>

            <!-- Item List Details -->
            <h3 class="mt-4 mb-3">Items</h3>
            <ul class="list-group">
                <li th:each="item : ${restaurant.itemList}" class="list-group-item">
                    <p class="card-text"><strong>Quantity:</strong> <span th:text="${item.quantity}"></span></p>
                    <p class="card-text"><strong>Cost:</strong> <span th:text="${item.cost}"></span></p>
                    <p class="card-text"><strong>Category Name:</strong> <span th:text="${item.category.categoryName}"></span></p>
                </li>
            </ul>
        </div>
    </div>

    <div th:if="${restaurant == null}" class="alert alert-warning mt-4">
        <p class="card-text">No restaurant found with the provided ID.</p>
    </div>
</div>

<footer th:replace="fragments/footer::html_footer"></footer>
</body>

</html>
